.m2
.idea/**
.idea
**/*/target
**/*/compat_reports
**/*/tmp
**/*.log
**/*.jar
*.iml
*.ipr
*.log
platform/integrator-repository
platform/bin/*.war
platform/bin/*.jar
platform/libs/*.jar
platform/bin/*.zip
platform/bin/*
platform/work/*
**/*.episode
*.classname

*.terraform
*.tfstate
*.tfstate.backup
*.tfvars

*.zip
*.tar.gz
/report
/target
